<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
	<Appenders>
		<Console name="SystemOut" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%t] %-5p %c{1} - %m%n"/>
		</Console>
		<Console name="SystemErr" target="SYSTEM_ERR">
			<PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%t] %-5p %c{1} - %m%n"/>
		</Console>
		<RollingFile
				name="RollingFile"
				fileName="C:\Users\Queue\tomcat-9.0.45\logs\application.log"
				filePattern="C:\Users\Queue\tomcat-9.0.45\logs\application.log.%d{yyyy-MM-dd}.gz"
				ignoreExceptions="false">
			<PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%t] %-5p %c{1} - %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"/>
			</Policies>
			<DefaultRolloverStrategy max="5"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="SystemOut"/>
			<AppenderRef ref="SystemErr" level="ERROR"/>
			<AppenderRef ref="RollingFile"/>
		</Root>
	</Loggers>
</Configuration>
